{% extends "base.html" %}

{% block head %}
    <style>
        .album_rating_section {
            box-sizing: border-box;
            padding: 10px;
            outline: 1px dashed black;
        }
    </style>
{% endblock %}
<body>
    {% block title %} Update ratings {% endblock %}
    {% block content %}
    <p> There are currently {{ albums|length }} albums in the database. </p>

    <div class="album_rating_section">
        <form method="post" action="/rate_album">
            <label for="album">Album:<label>
            <select name="album" id="album">
                {% for album in albums %}
                    <option value = "{{ album.title }}\0{{ album.artist }}">
                        {{ album.title }} - {{ album.artist }}
                    </option>
                {% endfor %}
            </select>
            <br><br>
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" min="0" max="100"></input>
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="your_ratings">
        <p> You have rated {{ ratings|length }} songs. </p>
        {{ ratings_table(ratings) }}
    </div>
    {% endblock %}
</body>
